.Login_formulario{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 254px auto;
  border: 1px solid gray;
  padding: 64px;
  border-radius: 16px;
}
.Login_formulario h2{
  margin-left: 8px;
  margin-top: -32px;
}

.Login_formulario_link{
  margin: 4px 0;
  margin-left: 10px;
}