.dashboarddevendas__divpaper{
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  
}
.dashboarddevendas_div{
  margin: 50px 36px;
}
.dashboarddevendas_divcom5{
  margin: 0px 8px;
}